accelerate
pysbd
sacremoses
huggingface-hub==0.15.1
IProgress
langchain
llm-rs
llm-rs[langchain]
protobuf==3.20.3
pyopenjtalk==0.3.0
pysentimiento
PySimpleGUI
PySimpleGUIQt
QtPy
sentence-transformers==2.2.2
sentencepiece
spacy==3.5.3
tokenizers==0.13.3
transformers==4.27.2
wget
Cython
librosa==0.9.1
matplotlib
numpy
scipy
tensorboard
unidecode
tqdm
pyaudio
pygame
pygame_gui